.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-content {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-transform: capitalize;
}

.app-data {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
  align-items: center;
}

.app-data > h3 {
  margin-right: 10px;
  font-size: 22px;
}

.app-data > p {
  font-size: 18px;
}

.app-data > img {
  max-width: 100px;
  border-radius: 50%;
}


.app-data.image {
  justify-content: center;
}

.load-more {
  margin-top: 40px;
  text-align: center;
  
}

button {
  border: 2px solid transparent;
  background-color: white;
  appearance: none;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 5px;
}